# Secrets (ne jamais versionner)
.env
service_account.json
credentials.json
.history/
Dokerfile

# Dépendances PHP
/vendor/

# Fichiers temporaires ou inutiles
*.log
*.cache

# Fichiers système / IDE
.vscode/
.idea/
*.DS_Store
Thumbs.db

